@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui" {
  themes: night;
}

@theme {
  --font-display: "Montserrat", sans-serif;

   --animate-fadeIn: fadeIn 0.3s ease-in-out;
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

@layer base {
  @font-face {
    font-family: "Montserrat";
    src: url('/assets/fonts/montserrat/Montserrat-Medium.ttf') format('truetype');
  }
}

/* @keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animate-fadeIn {
  animation: fadeIn 0.3s ease-in-out;
} */
